@tailwind base;
@tailwind components;
@tailwind utilities;

.fontStyle {
 font-family: 'Handlee', cursive;
 font-family: 'Josefin Sans', sans-serif;
}

/*? HOME CLASES */
.bg-light{
   /*background: linear-gradient(to right, #0f2027, #1b3138, #1c5066);*/
   background-color: rgb(119, 172, 234);
}
.bg-dark{
 background: linear-gradient(to right, #070d1e, #0b1820, #113c51);
 
}
.bg-nav {
    background-color: rgb(40, 48, 136);
}

.colorTitle {
  color: #ffffff; 
}

.titleLight {
  color: #103d44df; 
}
.titleDark {
  color: #37c3ca;
}

.colorSubTitle {
  color: #020202;

}
.colorSubTitleDark {
  color: #9ad7f5ea;
}

.fullstack {
  color: #0f3a4b;
}
.fullstackDark {
  color: #04c2b9;
}

/*? ANIMATIONS HOME */
@keyframes dance {
  0% { transform: translate(0, 0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
} 
.dance {
  animation-name: dance;
  animation-duration: 2s; 
  animation-iteration-count: infinite; 
}
@keyframes letterDance {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.letter-animation {
   animation-name: letterDance ;
   animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block; 
  transform-origin: end; 
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.logo-slide {
  white-space: nowrap;
  animation: slide 30s infinite linear;
  animation-timing-function: linear;
}
.logo-slideMobile {
    white-space: nowrap;
    animation: slideMobile 20s infinite linear;
    animation-timing-function: linear;
}

.logo-skills {
overflow: hidden;
}

/*? LANDING PROYECTS */
.bg-proyect-1-portfolio {
  background-image: url(/img//portfolio.png);
}
.bg-proyect-2-portfolio {
  background-image: url(/img//portfolioDef2.png);
}

.bg-proyect-1-PI {
    background-image: url(/img/Linguini.png);
}
.bg-proyect-2-PI {
    background-image: url(/img/pi-2.png);
}
