@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light{
 background: linear-gradient(to right, #1a2980, #26d0ce);
}
.bg-dark{
      background: linear-gradient(to right, #16222a, #3a6073);
}
.fontStyle {
 font-family: 'Handlee', cursive;
 font-family: 'Josefin Sans', sans-serif;
}

.colorTitle {
  color: #ffffff; 
}

.titleLight {
  color: #0b043fdb; 
}
.titleDark {
  color: #37c3ca;
}

.colorSubTitle {
  color: #a9c7bdf4;

}
.colorSubTitleDark {
  color: #9ad7f5ea;
}
.fullstack {
  color: #ffffff;
}
.fullstackDark {
  color: #04c2b9;
}

@keyframes dance {
  0% { transform: translate(0, 0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
} 
.dance {
  animation-name: dance;
  animation-duration: 2s; 
  animation-iteration-count: infinite; 
}
@keyframes letterDance {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.letter-animation {
   animation-name: letterDance ;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: inline-block; 
  transform-origin: end; 
}